<div class="">
  <header class="bar-title">
  
    <div   class="" >
    <img ng-src="{{item.slika}}" ng-repeat="item in itemsList" class="item-selection" >
    </div>
    <ul class="segmented-controller">
      
      <li ng-click = "doTheBack()">
        <i class="  icon-chevron-left icon-large " style="color:white" ></i> 
       
      </li>
      <li ng-click = "playList(itemsList)">
        <i class="icon-play icon-large " style="color:white" ></i>
        
      </li>
      <li ng-click = "deliteList()">
        <i class="icon-remove icon-large " style="color:white" ></i>
        
      </li>
      <li ng-click = "addToFavorites(itemsList)">
        <i class="icon-plus icon-large " style="color:white" ></i>
       
     </li>
      <li>
        <!-- <i class=" icon-home icon-large " style="color:white" ></i> -->
        <a href="#/" class="">Domov</a>
      </li>
      
    </ul>
  
  </header>
  <!-- bottom toolbar
 <div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner toolbar-btn-group btn-group">-->
  <nav class="bar-tab" ng-show="tabBarShow">
    <ul class="tab-inner">
      <li ng-click="modalOpen('modalPriljubljene')" class="tab-item ">
         <i class=" icon-star-empty icon-large " style="color:white"></i>
        <a  class="">
          <div class="tab-label">Priljubljene</div>
       
        </a>
    </li>
    <li ng-click="modalOpen('modalTipkovnica')" class="tab-item">
      <i class="icon-keyboard icon-large " style="color:white" ></i>
      <a>
       
        <div class="tab-label">Tipkovnica</div>
      
    </a>
    </li>
    <li ng-click="modalOpen('modalOsnovne')" class="tab-item">
       <i class="icon-ellipsis-horizontal icon-large " style="color:white" ></i>
      <a  class="">
        <div class="tab-label">Osnovne</div>
      </a>
      
    </li>  
    </ul>
  </nav>
  <!-- </div>
</div> -->
  <div class=" content">
    <div class="">
      <!--Body content-->
     <!-- <div class="row-fluid">
      <img ng-src="{{mainImageUrl}}" >
      
    </div> -->
      <ul class = "grid-items">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/slovar/{{phone.href}}" class="thumb"><img ng-src="{{phone.slika}}" ng-click="setImage(phone)"></a>
          <p>{{phone.vsebina}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
<p>{{favoritesList | json}}</p>


 <!--Modals-->
<div modal="modalPriljubljene" close="modalClose('modalPriljubljene')" options="opts">
        <div id="myModal" class="modal">
        <header class="bar-title">
          <h1 class="title">Priljubljene</h1>
          <a class="button" ng-click="modalClose('modalPriljubljene')">
            Zapri
          </a>
        </header>
       
            
        <div class="content content-padded">
          <ul id="favorites-list">
            <li ng-repeat="favorit in favoritesList" class="row-fluid">
              <img ng-src="{{item.slika}}" ng-repeat="item in favorit" class="item-selection" >
              <button class="btn" ng-click="playList(favorit)"><i class="icon-play"></i></button>
              <button class="btn" ng-click="removeFavorit(favorit)"><i class="icon-remove"></i></button>

            </li>
        </ul>
        </div>
        
 </div>
 </div>

<div modal="modalTipkovnica" close="modalClose('modalTipkovnica')" options="opts">       
         <header class="bar-title">
          <h1 class="title">Tipkovnica</h1>
          <a class="button" ng-click="modalClose('modalTipkovnica')">
            Zapri
          </a>
        </header>
        <div class="content content-padded">
          <textarea autofocus class="boxsizingBorder"></textarea>
        </div>
        
 </div>

 <div modal="modalOsnovne" close="modalClose('modalOsnovne')" options="opts">
    <div id="myModal" class="modal">
      <header class="bar-title">
        <h1 class="title">Modal</h1>
        <a class="button" ng-click="modalClose('modalOsnovne')">
          Zapri
        </a>
      </header>
      
      <div class="content content-padded">
        <p>The contents of my modal.</p>
      </div>
    </div>
        
 </div>
