.item-selection {
	width: 3em;


}

.grid-items li { 
	float: left; 
	width: 20%; 
	height: 170px; 
	border-right: 1px dotted #CCC; 
	border-bottom: 1px dotted #CCC; 
	padding: 0px; 
	text-align:center
}

.toolbar-btn {
	width: 33.333%;
	height: 50px;
	display: inline;

}

.toolbar-btn-group {
	display: inline;
	width: 100%;

}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height:10em;
}